body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
    /*background: url("../images/chosen-sprite.png") -42px 1px no-repeat;*/
}

/*For details page*/
.row {
    margin-right: 0px;  
    margin-left: 0px; 
}

