
@{
    ViewBag.Title = "Search";
}
<link href="~/Content/DataTables/css/dataTables.bootstrap.min.css" rel="stylesheet" />
<h2>Search</h2>

<div>
    <div class="input-group">
        <input type="text" placeholder="Search by name.." id="search-box" class="form-control" />
        <span class="input-group-addon" style="width: 0;">
            <i class="glyphicon glyphicon-search"></i>
        </span>
    </div>

    <div id="searchResultContainer" style="display:none;">
        <h4>Search Results:</h4>
        <table id="searchTable" class="table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>FullName</th>
                    <th>Email</th>
                    <th>Contact Number</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>

    <script>
        var searchBox = $("#search-box");
        var searchResultContainer = $("#searchResultContainer");
        var searchTable = $("#searchTable");
        var searchGrid = null;

        $("#search-box").on("keyup", function () {
            var searchText = searchBox.val();

            if (!searchTable.hasClass("dataTable")) {
                createDataTable();
            }
            else {
                searchGrid.fnDestroy();
                createDataTable();
            }
            
            searchResultContainer.show();
            return false;
        });

        var createDataTable = function () {

            searchGrid = searchTable.dataTable({
                "sDom": '',
                "ajax": {
                    "url": "/Job/GetGridData",
                    "type": "GET",
                    "datatype": "json",
                    "data": { "searchString": searchBox.val() }
                },
                "serverSide": true,
                "searching": false,
                "responsive": true,
                "order": [[2, "asc"]],
                "columns": [
                    { "data": "Id", "autoWidth": "true" },
                    { "data": "FullName", "autoWidth": "true" },
                    { "data": "Email", "autoWidth": "true" },
                    { "data": "ContactNumber", "autoWidth": "true" },
                    {
                        "data": "DownloadUrl", "width": "5%", "mRender": function (row, type, data) {
                            return "<a href = " + data.DownloadUrl + "><i class='glyphicon glyphicon-download'></i></a>";
                        }, "bSortable": false
                    },
                    {
                        "data": "DetailsUrl", "width": "5%", "mRender": function (row, type, data) {
                            return "<a href = " + data.DetailsUrl + " target='_blank'><i class='glyphicon glyphicon-eye-open'></i></a>";
                        }, "bSortable": false
                    }
                ]
            });
        };

    </script>
    
}

