
@{
    ViewBag.Title = "JobsListing";
}

<h2>Jobs Posted</h2>

<div id="jobs-listing-container">
    <table id="jobs-listing-table" class="table">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Posted By</th>
                <th>Posted On</th>
                <th>Status</th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

<!-- Modal -->
<div class="modal fade" id="edit-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">Close</span></button>

            </div>
            <div class="modal-body">
                <div id="edit-job-post-container"></div>


                <p>Hi!</p>
            </div>

        </div>
    </div>
</div>

@section scripts{
    <script src="~/Scripts/DataTables/jquery.dataTables.min.js"></script>
    <script>
        $(function () {
            var jobsListingTable = $("#jobs-listing-table");
            var grid;

            grid = jobsListingTable.dataTable({
                "sDom": 'tp',
                "ajax": {
                    "url": "/Job/GetJobsPostedGridData",
                    "type": "POST"
                    //"datatype": "json",
                },
                "serverSide": true,
                "searching": false,
                "responsive": true,
                "pagingType": "simple",
                "columns": [
                    { "data": "Id", "autoWidth": "true" },
                    { "data": "Title", "autoWidth": "true" },
                    { "data": "PostedBy", "autoWidth": "true" },
                    { "data": "PostedOn", "autoWidth": "10%" },
                    {
                        "data": "IsActive", "autoWidth": "10%", "mRender": function (row, type, data) {
                            if (data) {
                                return "<span style='color: blue;'>Open</span>";
                            }
                            else {
                                return "<span style='color: red;'>Closed</span>";
                            }
                        }
                    },
                    {
                        "data": "DetailsUrl", "width": "5%", "mRender": function (row, type, data) {
                            return "<a href = " + data.DetailsUrl + " target='_blank'><i class='glyphicon glyphicon-eye-open'></i></a>";
                        }
                    },
                    {
                        "data": "", "width": "5%", "mRender": function (row, type, data) {
                            return "<a href = '#edit-modal' class='edit-job-post' data-job-post-id=" + data.Id + "><i class='glyphicon glyphicon-edit'></i></a>";
                        }
                    }
                ],
                "drawCallback": function (settings) {
                    alert('DataTables has redrawn the table');
                    $('.edit-job-post').on('click', showEditModal);
                }
            });

            var showEditModal = function (e) {
                e.preventDefault();
                var href = $(this).attr('href');
                var jobPostId = $(this).data('job-post-id');
                var jobPostDiv = $("#edit-job-post-container");

                $.ajax({
                url: '@Url.Action("EditJobPost", "Job")',
                type: 'GET',
                data: { 'jobPostId': jobPostId },
                dataType: 'html',
                success: function (data) {
                    jobPostDiv.append(data);
                    $(href).modal('toggle');
                },
                error: function () {
                    alert("Something went wrong!");
                }
            });

                
            };

        });
    </script>
}